.roles-container {
  max-width: 900px;
  margin: 40px auto;
  padding: 30px;
  background-color: #193552;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  color: #ffffff;
}

.roles-title {
  text-align: center;
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: 600;
}

.roles-table {
  width: 100%;
  border-collapse: collapse;
}

.roles-table thead {
  background-color: rgba(1, 149, 194, 0.561)
}

.roles-table th {
  padding: 14px;
  text-align: left;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.roles-table td {
  padding: 12px 14px;
  border-bottom: 1px solid rgba(1, 149, 194, 0.561);
}

.roles-row:hover {
  background-color: rgba(1, 149, 194, 0.561);
}

.roles-email {
  font-weight: 500;
}

.roles-select {
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #444;
  background-color: rgba(1, 149, 194, 0.561);
  color: #fff;
  cursor: pointer;
  transition: 0.2s ease;
}

.roles-select:hover {
  border-color: rgba(1, 149, 194, 0.561);
}

.profile-image {
  width: 100px;
}

.profile-image img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  border: 2px solid #ffffff;
}
.roles-button {
  padding: 6px 14px;
  border: none;
  border-radius: 6px;
  background-color: #6c63ff;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s ease;
}

.roles-button:hover {
  background-color: #5848e5;
  transform: translateY(-1px);
}

.roles-button:active {
  transform: translateY(0);
}

.saved-button {
  background-color: green;
  padding: 12px;
  border-radius: 5px;
}
