.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  background-color: #193552;
  color: #00c4ff;

  padding: 15px 20px;
  text-align: center;
  font-size: 1rem;
  letter-spacing: 1px;

  border-top: 2px solid #00c4ff;
  box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.3);

  z-index: 1000;
}

.footer span {
  font-weight: 500;
}
