.product-container {
    max-width: 2100px;
    margin: 40px auto;
    padding: 0 20px;
    color: #ffffff;
}

.product-container h1 {
    color: #00c4ff;
    margin-bottom: 20px;
    text-align: center;
    font-size: 2rem;
}

.error-container {
    text-align: center;
    color: #ff5c5c;
    font-weight: bold;
    margin-bottom: 20px;
}

.products-grid {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.product-card {
    background-color: #2b2d2f;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition:
        transform 0.3s,
        box-shadow 0.3s;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.5);
}

.product-card h3 {
    color: #00c4ff;
    margin-bottom: 10px;
    text-align: center;
}

.product-image {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.product-description {
    text-align: center;
    font-size: 0.95rem;
    margin-bottom: 10px;
    color: #ccc;
}

.product-price {
    font-weight: bold;
    font-size: 1.1rem;
    color: #00c4ff;
    margin-bottom: 5px;
}

.product-weigth {
    text-align: end;
    font-size: 0.9rem;
    color: #aaa;
}
