.menu-elemento {
    display: inline;
    margin: 10px;
    padding: 10px;
    border: solid rgb(0, 0, 0) 1px;
    color: rgb(0, 0, 0);
    border-radius: 5px;
}

.menu-elemento:hover {
    background-color: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    cursor: pointer;    
}

nav{
    margin: 20px;
}