.menu {
    display: flex;
    justify-content: center;
    background-color: #333;
    color: white;
    padding: 1rem;
}

.menu-links {
    display: flex;
    gap: 2rem;
    padding: 0.5rem;
    font-size: 1.1rem;
    list-style: none;
}
.menu-links a {
    color: white;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
