#tablaDiscos {
    margin-top: 2rem;
    overflow-x: auto;
}

#tablaDiscos table {
    width: 100%;
    border-collapse: collapse;
    background: #1e1e1e;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #e0e0e0;
    text-align: center;
}

#tablaDiscos th,
#tablaDiscos td {
    padding: 0.7rem 1rem;
    border-bottom: 1px solid #444;
    font-size: 0.95rem;
    text-align: center;
    vertical-align: middle;
}

#tablaDiscos th {
    background-color: #333;
    color: #fff;
    font-weight: bold;
}

#tablaDiscos tr:nth-child(even) {
    background-color: #2a2a2a;
}

#tablaDiscos tr:hover {
    background-color: #3a3a3a;
}

.portada {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 6px;
    border: 1px solid #555;
    display: block;
    margin: 0 auto;
}

#borrarBtn {
    padding: 0.5rem 1rem;
    background-color: #c62828;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
    font-size: 0.9rem;

    &:hover {
        background-color: #8e0000;
    }
}

.detalleBtn {
    padding: 0.5rem 1rem;
    background-color: green;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
    font-size: 0.9rem;

    &:hover {
        background-color: darkgreen;
    }

    & a {
        text-decoration: none;
        color: white;
    }
}

#tablaDiscos tr td:last-child:not([colspan]) {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-align: center;
}
