.detallesDisco {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px;
    max-width: 900px;
    margin: auto;
}

.detallesDisco-main {
    display: flex;
    gap: 30px;
}

.detallesDisco-cover {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.detallesDisco-img {
    width: 16rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 14px;
}

.detallesDisco-btnVolver {
    text-align: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 8px;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;

    & a {
        color: white;
        text-decoration: none;
    }

    &:hover {
        background-color: #555;
    }
}

.detallesDisco-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.detallesDisco-titulo {
    font-size: 2rem;
    margin: 0;
    font-weight: bold;
}

.detallesDisco-datos h2 {
    font-size: 1.1rem;
    margin: 6px 0;
}

.detallesDisco-datos span {
    font-weight: normal;
}
