.error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;

    & h1 {
        font-size: 3rem;
        font-weight: bold;
    }

    & h5 {
        margin: 1.5rem;
    }
}

.error-img {
    max-width: 26rem;
}

.error-btn {
    font-size: 1.05rem;
    padding: 0.75rem 1rem;
    background-color: #fafafa;
    border-radius: 0.5rem;
    color: #222;
    transition: background-color 0.2s ease-in-out;

    &:hover {
        background-color: #fafafac1;
    }
}
