.formularioDiscos {
    width: 32rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #666;
    border: 1px solid black;
    border-radius: 1rem;

    & h2 {
        font-size: 1.7rem;
        font-weight: bold;
        margin: 2rem;
        margin-bottom: 1rem;
    }
}

form {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin: 1.2rem 0 0.4rem 0;
}

input:not([type="radio"]),
select {
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.contenedorCheckbox {
    width: 100%;
    margin-top: 1rem;
}

.labelCheckbox {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
}

input[type="checkbox"] {
    width: 1.1rem;
    height: 1.1rem;
    cursor: pointer;
}

input:focus,
select:focus {
    outline: none;
    border-color: #1976d2;
}

button {
    width: 100%;
    padding: 0.5rem 1rem;
    margin: 1rem 0 1rem 0;
    border: none;
    background-color: #1976d2;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: 0.2s;

    &:hover {
        background-color: #125a9c;
    }
}

.inputError {
    border: 2px solid red !important;
}
