.film-card {
    padding: 14px;
    margin-bottom: 12px;
    font-size: 22px;
    cursor: pointer;
    background: rgba(0, 20, 40, 0.5);
    border-left: 4px solid #4aa3ff;
    transition: 0.25s ease;
}

.film-card:hover {
    background: rgba(0, 60, 120, 0.7);
    transform: translateX(8px);
    box-shadow: 0 0 10px #4aa3ff;
}
