.contenedor-info {
    width: 70%;
    padding: 25px;
    background: rgba(15, 15, 35, 0.45);
    border: 1px solid #26346b;
    backdrop-filter: blur(6px);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 90, 180, 0.25);
    min-height: 400px;
    animation: holo 6s infinite alternate ease-in-out;
    
}

.contenedor-info h2 {
    font-size: 40px;
    text-shadow: 0 0 15px #ffe81f;
    color: #ffe81f;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.conenedor-datospeli {
    margin-top: 15px;
}

.conenedor-datospeli p {
    font-size: 20px;
    margin: 10px 0;
    color: #d0d8ff;
}

.director, .productor {
    color: #7bb7ff;
}

.sinopsis {
    margin-top: 20px;
    line-height: 1.5;
    padding-left: 10px;
    border-left: 3px solid #4aa3ff;
    color: #bcd2ff;
}
