body {
    background: rgb(175, 175, 175);
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding: 10px;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    background-color: white;
    border-collapse: collapse;
}

tr, td {
    border: 1px solid rgb(177, 159, 159);
}

td, th {
    padding: 0;
    margin: 0;
    width: 10px;
    height: 10px;
}


.colores {
    border: 1px solid black;
    width: 120px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    background-color: #dcdcdc;
    border-radius: 10px;
}


.blanco, .negro, .rojo, .azul, .verde, .amarillo {
    padding: 10px;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
}

.blanco { background-color: white; }
.negro { background-color: black; }
.rojo { background-color: red; }
.azul { background-color: blue; }
.verde { background-color: green; }
.amarillo { background-color: yellow; }


.borrar {
    margin-top: 20px;
}

.boton {
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.boton:hover {
    background-color: #555;
}