.add-disc-container {
	min-width: 100dvh;
	margin: 40px auto;
	padding: 20px;
	border: var(--border-default);
	border-radius: var(--radius-default);
	box-shadow: 0 4px 6px var(--bg-secondary);
	background-color: var(--bg-secondary);
	color: var(--color-text-primary);
	margin-bottom: 10dvh;
}

.add-disc-container h2 {
	text-align: center;
	color: #333;
	margin-bottom: 25px;
	color: inherit;
}

.add-disc-container form {
	display: flex;
	flex-direction: column;
	color: inherit;
}

.add-disc-container label {
	margin-top: 10px;
	margin-bottom: 5px;
	font-weight: bold;
	color: #555;
	color: inherit;
}

.add-disc-container input[type="text"],
.add-disc-container input[type="number"],
.add-disc-container input[type="url"],
.add-disc-container select {
	padding: 10px;
	margin-bottom: 15px;
	border: var(--border-default);
	background-color: var(--bg-secondary);
	border-radius: 4px;
	box-sizing: border-box;
	color: inherit;
	width: 100%;
}

.add-disc-container .error-mode {
	border-color: #e74c3c !important;
	background-color: var(--bg-secondary);
}

.checkbox-container {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.checkbox-container label {
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 10px;
}

.checkbox-container input[type="checkbox"] {
	width: auto;
	height: 18px;
	margin: 0;
	accent-color: #3498db;
}

.add-disc-container button#btn-save {
	padding: 12px 20px;
	cursor: pointer;
	font-size: 16px;
}

#errors-container {
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 20px;
	font-weight: bold;
	background-color: var(--bg-secondary);
	border: var(--border-default);
	color: inherit;
}

#errors-container p {
	margin: 5px 0;
}

#errors-container[style*="green"] {
	border: 1px solid #2ecc71;
	color: #2ecc71 !important;
}

#errors-container[style*="red"] {
	border: 1px solid #e74c3c;
	color: #e74c3c !important;
}
