#colores {
  width: auto;
  height: 300px;
  display: flex;
  align-items: center; 
  justify-content: center;

}

.red {
  background-color: red;
}

.black {
  background-color: black;
}

.grey {
  background-color: grey;
}
