.mensajeError {
    background-color: rgba(255, 0, 0, 0.3);
    border: 2px solid red;
    padding: 0.5rem;
    font-size: 1.2rem;
    max-width: 30rem;
}

.mensajeValido {
    background-color: darkgreen;
    border: 2px solid green;
    padding: 1rem;
    font-size: 1.2rem;
    max-width: 30rem;
}
