#principal {
    display: flex;
    flex-direction: column;
}

#principal > div {
    margin: 10px;
    padding: 10px;
    border: 1px solid rgb(116, 107, 107);
}

.error {
    border: solid 2px red;
}
