#botones {
  text-align: center;
  padding: 10px;
  margin: 10px;
}

.contenido {
  display: flex;
  width: auto;
}

.columna{
  padding: 10px;
  width: 50%;
  
}

.planeta {
  padding: 10px;
  margin: 5px;
}

.planeta:hover {
  cursor: pointer;
  color: grey;
}

.borde {
  border: 2px solid black;
  border-radius: 10px;
}

.margen {
 padding: 0px 15px;
}
