.list-page-container {
	min-width: 100dvh;
	margin: 40px 10dvh;
	padding: 20px;
}

.controls {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	gap: 15px;
}

.controls button#btn-show {
	padding: 10px 15px;
	background-color: #2ecc71;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s;
	flex-shrink: 0;
}

.controls button#btn-show:hover {
	background-color: #27ae60;
}

.controls input#filter-input {
	padding: 10px;
	background-color: var(--bg-secondary);
	border: var(--border-default);
	border-radius: var(--radius-default);
	color: var(--color-text-primary);
	flex-grow: 1;
}

.controls input#filter-input:disabled {
	background-color: var(--bg-secondary);
	cursor: not-allowed;
}

.hidden {
	display: none;
}

.discos-table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
	text-align: center;
}

.discos-table th,
.discos-table td {
	border: var(--border-default);
	padding: 12px;
	text-align: left;
	font-size: 14px;
}

.discos-table th {
	background-color: var(--bg-secondary);
	color: var(--color-text-primary);
	font-weight: bold;
	text-transform: capitalize;
}

.discos-table tbody tr:nth-child(even) {
	background-color: var(--bg-secondary);
}

.discos-table tbody tr:hover {
	background-color: var(--bg-secondary-hover);
}

.actions-cell {
	white-space: nowrap;
}

.actions-cell button {
	padding: 6px 10px;
	margin-right: 5px;
	font-size: 13px;
}
