.text {
    background-color: gray;
    padding:0;
}

.seccion {
    background-color: rgb(139, 139, 139);
    display: none;
}

.contenidos section {
  display: none;
}

.contenidos section.visible {
  display: block;
}

.wind button {
  padding: 8px 15px;
  border: none;
  background-color: #ddd;
  cursor: pointer;
  margin-right: 4px;
}

.wind button.activa {
  background-color: #3498db;
  color: white;
}
