.listarDiscos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* BÚSQUEDA DE DISCOS */
#busquedaDiscos {
    display: flex;
    align-items: center;
    gap: 1rem;

    & label {
        font-size: 1.2rem;
        align-self: center;
    }
}

#busquedaDiscos input {
    width: 24rem;
    flex: 1;
    padding: 0.4rem;
}

#busquedaDiscos button {
    width: fit-content;
    padding: 0.5rem 1rem;
}
